@{
    ViewData["Title"] = "Aboutme";
}


<h1 class="text-dark">@ViewData["Title"]</h1>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Richard Sanchez Resume</title>
    <link rel="stylesheet" href="~/css/resume.css" />
    <style>

    </style>
</head>
<body>
    <div class="container">
        <div class="left-section">
            <!-- Section-1 -->
            <div class="eft-section1 shadow">
                <img src="~/img/Resume-img.png"
                     alt="Richard Sanchez"
                     class="profile-image" />
            </div>

            <!-- Section-2 -->
            <div class="left-section2 shadow">
                <h2 class="profile-name">MOUMIN AHMAD</h2>
                <p class="profile-title">- Web Developer -</p>
            </div>

            <div class="left-section3 shadow">
                <div>
                    <div class="section-title">Skills</div>
                    <div class="section-content">
                        <ul>
                            <li class="skill-item">Graphic Design</li>
                            <li class="skill-item">HTML/CSS</li>
                            <li class="skill-item">Bootstrap</li>
                            <li class="skill-item">Javascript</li>
                            <li class="skill-item">C Sharp</li>
                            <li class="skill-item">Asp.net core web </li>
                        </ul>
                    </div>
                </div>

                <div class="section-title language">Languages</div>
                <div class="section-content">
                    <ul>
                        <li class="language-item">English</li>
                        <li class="language-item">Urdu</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="right-section">
            <div class="right-section1 shadow">
                <div class="section profile">
                    <h2>PROFILE</h2>
                    <p>
                        I am a .NET developer focused on creating efficient and reliable applications. I build solutions that work seamlessly, ensuring users have a great experience.
                    </p>
                </div>

                <div class="section education">
                    <h2>EDUCATION</h2>
                    <ul>
                        <li>
                            <strong>2020 - 2024</strong> | Software Enginering<br />
                            Virtual  university
                        </li>
                        <li>
                            <strong>2019 - 2020</strong> | Computer Science<br />
                            Superior Group Of College
                        </li>
                    </ul>
                </div>
            </div>

            <!-- section 1 end -->

            <div class="right-section2 shadow">
                <div class="section experience">
                    <h2>EXPERIENCE</h2>
                    <ul>
                        <li>
                            <strong>2024 - 2024</strong> | Microsoft .Net + Angular  <br />
                            Advancing my expertise in Microsoft .NET and Angular, mastering full-stack development to build cutting-edge, scalable web applications.
                            <br />
                            EXD
                        </li>
                        <li>
                            <strong>2023 - 2024</strong> | Frontend developer<br />
                            Slicing design and implementing visual and interactive
                            elements<br />
                            Apex Web Developer
                        </li>
                        <li>
                            <strong>2022 - 2024</strong> | Graphic designer<br />
                            Designed numerous marketing campaigns<br />
                            Upwork
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Section-3 end -->

            <div class="right-section3 shadow">
                <div class="section contact">
                    <h2>CONTACT</h2>
                    <p style="color: #fff">
                        📞 +92 304 7137578<br />
                        ✉️ mouminahmad.pk@gmail.com<br />
                        🌐 www.mouminahmad.com<br />
                        🏠 123 Anywhere St., Any City, ST 12345
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="" style="margin-bottom: 200px;">

    </div>
</body>
</html>

  