@using HMS.Enums
@model HMS.Models.Patient

@{
    ViewData["Title"] = "Create Patient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row mb-3">
        <div class="col">
            <h1 class="display-4">@ViewData["Title"]</h1>
            <h4>Patient Information</h4>
            <hr />
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="CreatePatient" class="shadow p-4 rounded bg-light mb-5">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ContactNumber" class="form-label"></label>
                    <input asp-for="ContactNumber" class="form-control" />
                    <span asp-validation-for="ContactNumber" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Age" class="form-label"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="AdmissionDate" class="form-label"></label>
                    <input asp-for="AdmissionDate" class="form-control" />
                    <span asp-validation-for="AdmissionDate" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="DiscahrgeDate" class="form-label"></label>
                    <input asp-for="DiscahrgeDate" class="form-control" />
                    <span asp-validation-for="DiscahrgeDate" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Gender" class="form-label"></label>
                    <div class="form-check">
                        <input type="radio" asp-for="Gender" value="@Gender.Male" class="form-check-input" id="genderMale" />
                        <label class="form-check-label" for="genderMale">Male</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" asp-for="Gender" value="@Gender.Female" class="form-check-input" id="genderFemale" />
                        <label class="form-check-label" for="genderFemale">Female</label>
                    </div>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>

                <div class="d-grid">
                    <input type="submit" value="Create" class="btn btn-primary btn-lg" />
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
