@model HMS.Models.Doctore

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row mb-3">
        <div class="col">
            <h1 class="display-4">@ViewData["Title"]</h1>
            <h4>Doctore</h4>
            <hr />
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="CreateDoctore" class="shadow p-4 rounded bg-light mb-5">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                <div class="mb-3">
                    <label asp-for="Id" class="form-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Specialization" class="form-label"></label>
                    <input asp-for="Specialization" class="form-control" />
                    <span asp-validation-for="Specialization" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Experience" class="form-label"></label>
                    <input asp-for="Experience" class="form-control" />
                    <span asp-validation-for="Experience" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ContactNumber" class="form-label"></label>
                    <input asp-for="ContactNumber" class="form-control" />
                    <span asp-validation-for="ContactNumber" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="DepartmentId" class="form-label"></label>
                    <input asp-for="DepartmentId" class="form-control" />
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>

                <div class="d-grid">
                    <input type="submit" value="Create" class="btn btn-primary btn-lg" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>